extends layout
block content
	h1= title
	div.menu
		div.sort
			div.a_to_z
				a(href="?sort=title")= "A-Z"
			div.popular
				a(href="?sort=averageRating")= "Most Popular"
		div.page
			div= "Page " + currentPage + " of " + totalPages
			if currentPage != 1
				div.previous
					a(href="?page=#{parseInt(currentPage)-1}&sort=#{sort}")
						<
			if currentPage != totalPages
				div.next
					a(href="?page=#{parseInt(currentPage)+1}&sort=#{sort}")
						>
	ul.listingsGrid
		- for listing in listings
			li
				a("href"="/listings/#{listing._id}")
					div
						if listing.title.length == 0
							div.title= "Test title"
						else
							div.title= listing.title
						div.rating= listing.averageRating
						div.city= listing.address.city
		