extends layout
block content
	h1= title
	div.page
		div= "Page " + currentPage + " of " + totalPages
		if currentPage != 1
			div.previous
				a(href="?page=#{parseInt(currentPage)-1}")
					<
		if currentPage != totalPages
			div.next
				a(href="?page=#{parseInt(currentPage)+1}")
					>
	ul.listingsGrid
		- for listing in listings
			li
				a("href"="/listings/#{listing._id}")
					div
						if listing.title.length == 0
							div.title= "Test title"
						else
							div.title= listing.title
						div.rating= listing.averageRating
						div.city= listing.address.city
		