extends layout
block content
	if !listing
		h3= "Sorry! Could not find listing."
	else
		div.listingDetails
			h1.title= listing.title
			div.category
				a("href"="/categories/#{listing.category}")= listing.category
			div.ratings= listing.averageRating
			div.location= listing.address.city + ", " + listing.address.state
			div.description= listing.description
			div.reviews
				ul
				for review in listing.reviews
					li
						div.review
							div.reviewTitle= review.title
							div.reviewRating= review.rating
							div.postDate= review.postDate.getDate() +"/"+ review.postDate.getMonth() +"/"+ (review.postDate.getYear()+1900)
							div.content= review.content


